* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: arial;
}

.welcome {
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
    margin: 30px auto 10px auto;
    font-family: Snell Roundhand, cursive;
    display: block;
    text-shadow:
        -0 -1px 1px #FFC0CB,
        0 -1px 1px #FFC0CB,
        -0 1px 1px #FFC0CB,
        0 1px 1px #FFC0CB,
        -1px -0 1px #FFC0CB,
        1px -0 1px #FFC0CB,
        -1px 0 1px #FFC0CB,
        1px 0 1px #FFC0CB,
        -1px -1px 1px #FFC0CB,
        1px -1px 1px #FFC0CB,
        -1px 1px 1px #FFC0CB,
        1px 1px 1px #FFC0CB,
        -1px -1px 1px #FFC0CB,
        1px -1px 1px #FFC0CB,
        -1px 1px 1px #FFC0CB,
        1px 1px 1px #FFC0CB;
}

.welcome_text {
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 30px;
    color: #FFFFFF;
    font-family: Snell Roundhand, cursive;
}

.topnav {
    background-color: #FFB6C1;
}

.topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #DB7093;
    color: #000000;
}

.topnav_right {
    float: right;
}

footer {
    display: flex;
    justify-content: center;
    width:100%;
    margin-top: 30px;
}

footer table {
    border: collapse;
    margin: 0, auto;
    max-width: 720px;
}
