* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page {
    width: 100%;
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex: 1;
    font-size: 15px;
    font-family: arial;   
}

.content {
    height: 100%;
    width: 960px;
    margin: 0;
}

.welcome {
    text-align: center;
    margin: 200px auto 10px auto;
    font-size: 100px;
    color: #000000;
    font-family: Snell Roundhand, cursive;
    text-shadow:
        -0 -1px 1px #DB7093,
        0 -1px 1px #DB7093,
        -0 1px 1px #DB7093,
        0 1px 1px #DB7093,
        -1px -0 1px #DB7093,
        1px -0 1px #DB7093,
        -1px 0 1px #DB7093,
        1px 0 1px #DB7093,
        -1px -1px 1px #DB7093,
        1px -1px 1px #DB7093,
        -1px 1px 1px #DB7093,
        1px 1px 1px #DB7093,
        -1px -1px 1px #DB7093,
        1px -1px 1px #DB7093,
        -1px 1px 1px #DB7093,
        1px 1px 1px #DB7093;
}

.welcome_text {
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 30px;
    color: #FFFFFF;
    font-family: Snell Roundhand, cursive;
    text-shadow:
        -0 -2px 2px #DB7093,
        0 -2px 2px #DB7093,
        -0 2px 2px #DB7093,
        0 2px 2px #DB7093,
        -2px -0 2px #DB7093,
        2px -0 2px #DB7093,
        -2px 0 2px #DB7093,
        2px 0 2px #DB7093,
        -2px -2px 2px #DB7093,
        2px -2px 2px #DB7093,
        -2px 2px 2px #DB7093,
        2px 2px 2px #DB7093,
        -2px -2px 2px #DB7093,
        2px -2px 2px #DB7093,
        -2px 2px 2px #DB7093,
        2px 2px 2px #DB7093;
}

.welcome_text a {
    color: #FFB6C1;
}

.welcome_text a:visited {
    color: #FFB6C1;
}

.topnav {
    background-color: #FFB6C1;
}

.topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #DB7093;
    color: #000000;
}

.topnav_right {
    float: right;
}

footer {
    display: flex;
    padding: 10px;
    background-color: #FFB6C1;
    font-family: arial;  
    margin-top: 30px;
}

footer a {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 25px 0;
    margin: 0;
    color: #FFFFFF;   
}

footer a:visited {
    color: #FFFFFF;   
}
