* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: arial;
}

.topnav {
    background-color: #000000;
}

.topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #B0E0E6;
    color: #000000;
}

.topnav_right {
    float: right;
}

.content {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.data_message {
    color: #00FF00;
    display: flex;
    text-align: center;
}

.point {
    padding: 15px, 0;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.error {
    border-color: #FF0000;
}

.error_message {
    color: #FF0000;
    font-size: 12px;
}

.button {
    font-size: 20px;
}

table {
  max-width: 960px;
  background-color: #FFF8DC;
  border: 1px;
  margin: 0 auto;
  border-color: #5F9EA0;
}

th, td {
  padding: 4px;
  text-align: center;
}

th {
    background: #008080;
    color: #FFFFFF;
   }
